state-machine.json
{
    "StartAt": "LoadDataToS3",
    "States": {
      "LoadDataToS3": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "Cluster": "arn:aws:ecs:eu-west-1:050451375647:cluster/ecommerce21",
          "TaskDefinition": "arn:aws:ecs:eu-west-1:050451375647:task-definition/load:1",
          "LaunchType": "FARGATE",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-0d92b687c3d41b7a6",
                "subnet-0069f34754ee3ffcb",
                "subnet-0095cd0a84024e93c"
              ],
              "SecurityGroups": [
                "sg-0489f9ec8e2d3b6dc"
              ],
              "AssignPublicIp": "ENABLED"
            }
          }
        },
        "Next": "CheckDataLoaded",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "NotifyLoadFailure",
            "ResultPath": "$.error"
          }
        ]
      },
      "CheckDataLoaded": {
        "Type": "Wait",
        "Seconds": 30,
        "Next": "VerifyDataInS3"
      },
      "VerifyDataInS3": {
        "Type": "Task",
        "Resource": "arn:aws:states:::events:putEvents",
        "Parameters": {
          "Entries": [
            {
              "Source": "data.pipeline",
              "DetailType": "CheckS3Data",
              "Detail": {
                "Bucket": "ecommerce-event-data"
              },
              "EventBusName": "arn:aws:events:eu-west-1:050451375647:event-bus/default"
            }
          ]
        },
        "Next": "WaitForEventBridge",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "NotifyVerificationFailure",
            "ResultPath": "$.error"
          }
        ]
      },
      "WaitForEventBridge": {
        "Type": "Wait",
        "Seconds": 40,
        "Next": "ValidateData"
      },
      "ValidateData": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "Cluster": "arn:aws:ecs:eu-west-1:050451375647:cluster/ecommerce21",
          "TaskDefinition": "arn:aws:ecs:eu-west-1:050451375647:task-definition/validate:2",
          "LaunchType": "FARGATE",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-0d92b687c3d41b7a6",
                "subnet-0069f34754ee3ffcb",
                "subnet-0095cd0a84024e93c"
              ],
              "SecurityGroups": [
                "sg-0489f9ec8e2d3b6dc"
              ],
              "AssignPublicIp": "ENABLED"
            }
          }
        },
        "Next": "ComputeKPIs",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "NotifyValidationFailure",
            "ResultPath": "$.error"
          }
        ]
      },
      "ComputeKPIs": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "Cluster": "arn:aws:ecs:eu-west-1:050451375647:cluster/ecommerce21",
          "TaskDefinition": "arn:aws:ecs:eu-west-1:050451375647:task-definition/compute:2",
          "LaunchType": "FARGATE",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-0d92b687c3d41b7a6",
                "subnet-0069f34754ee3ffcb",
                "subnet-0095cd0a84024e93c"
              ],
              "SecurityGroups": [
                "sg-0489f9ec8e2d3b6dc"
              ],
              "AssignPublicIp": "ENABLED"
            }
          }
        },
        "Next": "NotifySuccess",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "NotifyKPIFailure",
            "ResultPath": "$.error"
          }
        ]
      },
      "NotifySuccess": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:eu-west-1:050451375647:Success",
          "Message": "Data pipeline completed successfully at .Timestamp",
          "Subject": "Pipeline Success Notification"
        },
        "End": true
      },
      "NotifyLoadFailure": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:eu-west-1:050451375647:Failed",
          "Message": {
            "Error": "Data loading failed",
            "Cause": "Error loading data to S3",
            "Details.$": "$.error"
          },
          "Subject": "Pipeline Failure: Data Loading"
        },
        "End": true
      },
      "NotifyVerificationFailure": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:eu-west-1:050451375647:Failed",
          "Message": {
            "Error": "Data verification failed",
            "Cause": "No data found in S3 bucket",
            "Details.$": "$.error"
          },
          "Subject": "Pipeline Failure: Data Verification"
        },
        "End": true
      },
      "NotifyValidationFailure": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:eu-west-1:050451375647:Failed",
          "Message": {
            "Error": "Data validation failed",
            "Cause": "Data validation errors detected",
            "Details.$": "$.error"
          },
          "Subject": "Pipeline Failure: Data Validation"
        },
        "End": true
      },
      "NotifyKPIFailure": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "arn:aws:sns:eu-west-1:050451375647:Failed",
          "Message": {
            "Error": "KPI computation failed",
            "Cause": "Error computing KPIs",
            "Details.$": "$.error"
          },
          "Subject": "Pipeline Failure: KPI Computation"
        },
        "End": true
      }
    }
  }